@keyframes border-dance {
  from {
    background-position: 0 0, 40% 0, -100% 100%, 100% 300%, 0 -38%;
  }

  to {
    background-position: 0 0, -160% 0, 100% 100%, 100% 100%, 0 162%;
  }
}

@keyframes normalGlow {
  0% {
    visibility: hidden;
    transform: translate(-50%, -100%) scaleY(0);
  }

  100% {
    transform: translate(-50%, -100%) scaleY(1);
    visibility: visible;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(-7px);
    opacity: 0;
  }

  30% {
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// stairs animation
@keyframes moveD {
  0% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0.8rem);
  }
}

@keyframes moveFx {
  25% {
    transform: translateX(1.5rem);
  }

  50% {
    transform: translateX(3.1rem);
  }

  75% {
    transform: translateX(4.7rem);
  }

  100% {
    transform: translateX(6.3rem);
  }
}

@keyframes moveBx {
  0% {
    transform: translateX(6.3rem);
  }

  25% {
    transform: translateX(4.7rem);
  }

  50% {
    transform: translateX(3.1rem);
  }

  75% {
    transform: translateX(1.5rem);
  }

  100% {
    transform: translateX(-0.1rem);
  }
}

@keyframes moveFy {
  /***************************
  ** 1st anim
  */
  12.5% {
    transform: translateY(-0.4rem);
  }

  25% {
    transform: translateY(0.1rem);
  }

  /***************************
  ** 2nd anim
  */
  37.5% {
    transform: translateY(-0.94rem);
  }

  50% {
    transform: translateY(-0.8rem);
  }

  /***************************
  ** 3rd anim
  */
  62.5% {
    transform: translateY(-1.79rem);
  }

  75% {
    transform: translateY(-1.65rem);
  }

  /***************************
  ** 4th anim
  */
  87.5% {
    transform: translateY(-2.54rem);
  }

  100% {
    transform: translateY(-2.4rem);
  }
}
