@use "sass:list";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-1) {
    font-size: 58%;
  }

  @media only screen and (max-width: $bp-2) {
    font-size: 53%;
  }
}

@mixin respond($i, $c, $h1, $h2) {
  $ii: 1;

  @each $r in list.nth(calcRo($c, $h1, $h2), 1) {
    @keyframes glow--#{$i} {
      0% {
        transform: translate(-50%, -100%) rotate($r);
        height: 0;
      }

      100% {
        transform: translate(-50%, -100%) rotate($r);
      }
    }

    --glow#{$ii}: glow--#{$i};

    $ii: $ii + 1;
    $i: $i + 1;
  }

  $hI: 1;
  @each $h in list.nth(calcRo($c, $h1, $h2), 2) {
    --h#{$hI}: #{$h}rem;
    $hI: $hI + 1;
  }
}

$prefix: pf;
:root {
  --dark-theme: true;
  $width: 3.728rem;
  $h1: 1.8;
  $h2: 2.2;
  --anim1: moveFx 1.4s ease-in forwards;
  --anim2: moveFy 1.4s ease-out forwards;
  --w: #{$width};
  --h1: ;
  --h2: ;
  --h3: ;
  --nh: #{$h1 + $h2}rem;
  --oH: 4.3rem;
  --hO: 1.8rem;
  --hT: 2.2rem;
  --bH: 100vw;

  --glownormalGlow: normalGlow;
  @include respond(1, $width / 1rem, $h1, $h2);

  @media only screen and (max-width: $bp-3) {
    --oH: 4.3rem;
    --oH: 4.3rem;

    $h1: 1.8;
    $h2: 2.2;
    --hO: 1.8rem;
    --hT: 2.2rem;

    $width: 3.228rem;
    --w: #{$width};

    @include respond(1, $width / 1rem, $h1, $h2);
  }

  @media only screen and (max-width: $bp-4) {
    --oH: 3.7rem;

    $h1: 1.8;
    $h2: 2.2;
    --hO: 1.8rem;
    --hT: 2.2rem;

    $width: 2.9rem;
    --w: #{$width};

    @include respond(1, $width / 1rem, $h1, $h2);
  }

  @media only screen and (max-width: $bp-5) {
    --oH: 3.2rem;

    $h1: 1.8;
    $h2: 2;
    --hO: 1.8rem;
    --hT: 2rem;

    $width: 2.5rem;
    --w: #{$width};

    @include respond(1, $width / 1rem, $h1, $h2);
  }

  @media only screen and (max-width: $bp-6) {
    --oH: 2.95rem;

    $h1: 1;
    $h2: 2;
    --hO: 1rem;
    --hT: 2rem;

    $width: 2.2rem;
    --w: #{$width};

    @include respond(1, $width / 1rem, $h1, $h2);
  }
}

body {
  --theme-primary: hsl(0, 100%, 66%);
  --theme-primary-dark: hsl(0, 81%, 46%);
  --theme-overlay-1: hsl(0, 20%, 98%);
  --theme-he-text: hsla(0, 0%, 0%, 0.87);
  --theme-le-text: hsla(0, 0%, 0%, 0.67);
  --theme-de-text: hsla(0, 0%, 0%, 0.27);
  --theme: hsl(0, 0%, 99%);
  --theme-primary-variant: #2b2222;
  --theme-secondary: hsl(180, 52%, 39%);
  --line-color: #ffffff;
  --theme-search: rgb(202, 209, 212, 0.2);
  --theme-overlay-2: hsl(0, 100%, 66%);
  --theme-secondary-dark: hsl(180, 52%, 39%);
  --theme-linecolor: hsla(0, 0%, 0%, 0.85);
  --theme-popup: rgba(0, 0, 0, 0.65);
  --theme-popup-bd: blur(3px);
  --theme-overlay-3: rgb(252, 249, 249);
  --theme-tertiary: hsl(202, 88%, 32%);
  --theme-tertiary-light: hsl(202, 88%, 38%);
  --theme-opt-gr: linear-gradient(
    to right,
    rgba(219, 219, 219, 0.625),
    rgba(230, 218, 218, 0.452)
  );
  --theme-def-hov: #ffffffe1;
  --theme-logo-filter: none;
  --den: #b922b9;

  --metal: hsl(300, 50%, 66%);
  --nonmetal: hsl(134, 100%, 47%);
  --alkaliMetal: hsl(336, 97%, 59%);
  --alkaliEarthMetal: hsl(0, 100%, 73%);
  --lanthanoid: hsl(44, 100%, 65%);
  --actinoid: hsl(108, 80%, 70%);
  --actinoid: hsl(108, 80%, 70%);
  --metalloid: hsl(171, 50%, 40%);
  --transitionMetal: hsl(194, 77%, 59%);
  --nobleGas: hsl(295, 86%, 57%);
  --halogen: hsl(265, 86%, 65%);
  --post-TransitionMetal: hsl(22, 31%, 72%);
  --postTransitionMetal: hsl(22, 31%, 72%);
  --theme-headingG: linear-gradient(
    45deg,
    hsla(0, 10%, 60%, 0.1),
    hsl(0, 20%, 50%, 0.2)
  );
  --theme-footer: #333;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme);
}

.per-container {
  display: grid;
  grid-template-rows: min-content 8rem 1fr min-content;
  grid-auto-columns: 1fr;
  row-gap: 2rem;

  @media only screen and (max-width: $bp-6) {
    grid-template-rows: min-content 13rem 1fr min-content;
  }
}

.dark {
  --metal: hsl(300, 20%, 66%);
  --nonmetal: hsl(134, 70%, 47%);
  --alkaliMetal: hsl(336, 57%, 59%);
  --alkaliEarthMetal: hsl(0, 70%, 73%);
  --lanthanoid: hsl(44, 100%, 35%);
  --actinoid: hsl(108, 80%, 40%);
  --actinoid: hsl(108, 80%, 40%);
  --metalloid: hsl(171, 20%, 40%);
  --transitionMetal: hsl(194, 47%, 59%);
  --nobleGas: hsl(295, 56%, 57%);
  --halogen: hsl(265, 56%, 65%);
  --post-TransitionMetal: hsl(22, 31%, 72%);
  --postTransitionMetal: hsl(22, 31%, 72%);

  --theme-primary: hsl(0, 73%, 66%);
  --theme-primary-dark: hsl(0, 37%, 46%);
  --theme-overlay-1: hsl(0, 0%, 24%);
  --theme-overlay-2: hsl(300, 1%, 30%);
  --theme-overlay-3: hsl(10, 4%, 25%);
  --theme-overlay-4: hsl(0, 0%, 35%);
  --theme-search: hsl(0, 0%, 20.2%);
  --theme-he-text: hsla(0, 0%, 100%, 0.87);
  --theme-le-text: hsla(0, 0%, 100%, 0.67);
  --theme-me-text: hsla(0, 0%, 100%, 0.57);
  --theme-mee-text: hsla(0, 0%, 100%, 0.67);
  --theme-de-text: hsla(0, 0%, 100%, 0.27);
  --theme: hsl(10, 4%, 19%);
  --theme-primary-variant: #2b2222;
  --theme-secondary: hsl(180, 32%, 39%);
  --theme-secondary-dark: hsl(180, 32%, 29.8%);
  --theme-linecolor: hsla(0, 0%, 100%, 0.67);
  --theme-popup: hsla(10, 4%, 15%, 0.4);
  --theme-popup-bd: none;
  --theme-tertiary: hsl(202, 68%, 32%);
  --theme-tertiary-light: hsl(202, 58%, 38%);
  --theme-opt-gr: linear-gradient(
    to right,
    rgba(219, 219, 219, 0.125),
    rgba(230, 218, 218, 0.152)
  );
  --theme-def-hov: hsl(300, 1%, 30%);
  --theme-logo-filter: invert(1);
  --den: hsl(200, 30%, 50%, 0.9);
  --gBlock: hsl(180, 50%, 50%);
  --theme-footer: var(var(--theme-overlay-1));
}
