.container {
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // grid-template-rows: auto 0 repeat(2, auto) 0 repeat(2, auto) 0 repeat(2, auto);
  grid-template-rows: repeat(3, calc(var(--oH) + var(--hO)) auto);

  align-self: center;

  @media only screen and (max-width: $bp-7) {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  row-gap: var(--hT);
}

// Row
.row {
  transform: translateY(-7px);
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  column-gap: 0px;
  position: relative;
  animation-name: moveUp;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-fill-mode: forwards;

  $origin: -0.07s;
  $cc: 1;
  $z: 10000000000;

  @for $i from 1 through 7 {
    $origin: $origin + 0.07;
    $z: $z / 10;

    &--#{$i} {
      z-index: $z;
      animation-delay: $origin;
    }
  }

  &--2,
  &--3 {
    position: relative;
    grid-template-columns: repeat(8, 1fr);
  }

  &--4,
  &--5 {
    grid-template-columns: repeat(18, 1fr);
  }

  &--6,
  &--7 {
    grid-template-columns: repeat(32, 1fr);
  }

  &--1,
  &--3,
  &--5 {
    align-self: start;
  }
}

// Line

// Elements

.elm {
  padding: 0.1rem 0.07rem;
  width: var(--w);
  height: var(--oH);

  backface-visibility: hidden;
  background: white;
  display: grid;
  justify-items: center;
  align-items: center;
  line-height: 1;
  position: relative;
  z-index: 500;
  border-right: 2px solid;
  border-image: linear-gradient(to top, transparent 10%, white) 1;

  &__atN {
    font-size: 1.89rem;
    font-family: "IBM Plex Sans", sans-serif;

    &--s {
      font-size: 1.7rem;
    }
  }

  &__sym {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Oxygen", sans-serif;
  }

  @media only screen and (max-width: $bp-3) {
    &__sym {
      font-size: 1.9rem;
    }
  }

  @media only screen and (max-width: $bp-4) {
    &__atN {
      font-size: 1.7rem;

      &--s {
        font-size: 1.4rem;
      }
    }

    &__sym {
      font-size: 1.8rem;
    }
  }

  @media only screen and (max-width: $bp-5) {
    padding: 0.04rem 0.02rem;

    &__atN {
      font-size: 1.5rem;

      &--s {
        font-size: 1.4rem;
      }
    }

    &__sym {
      font-size: 1.6rem;
    }
  }

  @media only screen and (max-width: $bp-6) {
    padding: 0.01rem;

    &__atN {
      font-size: 1.3rem;

      &--s {
        font-size: 1.15rem;
      }
    }

    &__sym {
      font-size: 1.4rem;
    }
  }
}
.me {
  background: black;
  padding: 0 20rem;
}

@each $name, $color in $elements {
  .elm--#{$name} {
    background-image: linear-gradient(
      to bottom,
      lighten($color, 15%) 30%,
      $color
    );
    transition: all 0.07s;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(
        to top,
        darken($color, 5%),
        lighten($color, 8%)
      );
    }
  }
}

// Popup
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999999999999999999999999999;
  opacity: 0;
  visibility: hidden;

  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &__element {
    margin-top: 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 4rem 1fr min-content;
    grid-template-columns: min-content 1fr;
    row-gap: 0.2rem;
  }

  &__content {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: rgb(252, 249, 249);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    border-radius: 3px;

    @media only screen and (max-width: $bp-5) {
      width: 60%;
      height: 80%;
    }

    @media only screen and (max-width: $bp-6) {
      width: 70%;
      height: 90%;
    }

    &--c {
      width: auto;
      height: auto;
    }
  }

  &__close {
    z-index: 899999999999;
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    top: 0.1rem;
    right: 0.2rem;
    fill: #20979bc2;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.elem {
  font-family: "Rubik", sans-serif;
  color: #1a799e;

  &__group {
    margin-right: 2rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
    color: rgba(62, 62, 189, 0.884);
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  }

  &__sym {
    text-transform: capitalize;
    font-size: 5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    color: #1a799e;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__name,
  &__den {
    grid-row: 2 / 3;
    color: #b922b9;
    align-self: s tart;
    font-size: 1.25rem;
  }

  &__name {
    grid-column: 1 / 2;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__den {
    grid-column: 2 / 3;
    justify-self: start;
    margin-left: 1.2vw;
  }

  &__overview {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 2rem;
    overflow-y: scroll;

    &-row {
      padding-right: 2rem;
      color: #464646;
      text-transform: capitalize;
      padding-bottom: 1.3rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid rgba(#2a2a2a, 0.2);
      font-size: 1.25rem;
    }
  }

  &__row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 5vw;

    span {
      text-transform: capitalize;
      font-size: 1.5rem;
      color: #1eac7d;
    }

    .elm__num {
      color: #1a799e;
      font-size: 3.5rem;
      font-family: "Oxygen", sans-serif;
    }
  }

  &__title {
    margin-right: 4rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
  }

  &__detail {
    span {
      display: block;
    }
  }
}

.link {
  font-size: 1.8rem;
  text-decoration: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  color: rgba(255, 255, 255, 0.747);
  padding: 0.4rem 2rem;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid rgb(124, 107, 107);
}

// Key
.key {
  border-radius: 2px;
  padding: 1rem;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &--sh {
    opacity: 1;
    visibility: visible;
  }

  transform: translateY(100%);
  background-color: #ffffff;
  position: absolute;
  bottom: -10%;
  left: 2rem;
  z-index: 300;
  color: rgb(20, 19, 19);
  display: grid;
  align-items: center;
  row-gap: 0.2rem;

  @media only screen and (max-width: $bp-7) {
    top: 8%;
    left: 1rem;
  }

  &__description {
    display: flex;
  }

  &__color {
    width: 2rem;
    height: 2rem;

    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-right: 1rem;

    @media only screen and (max-width: $bp-3) {
      width: 1.5rem;
      height: 1.5rem;
    }

    @media only screen and (max-width: $bp-7) {
      width: 1rem;
      height: 1rem;
    }
  }

  &__text {
    @media only screen and (max-width: $bp-3) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: $bp-7) {
      font-size: 1.3rem;
    }
  }
}

.footer {
  justify-self: end;
  padding-bottom: 1rem;
  padding-right: 2rem;

  &__text {
    color: $color-bl;
    font-size: 1.5rem;

    span {
      transition: all 0.2s;
      padding: 0.1rem;
      display: inline-block;

      &:hover {
        color: rgb(88, 216, 116);
        background-color: #333;
        transform: scale(1.3) rotate(5deg);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);

  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
  z-index: 111111111111111111111;

  &--h {
    opacity: 0;
    visibility: hidden;
  }
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

// element lines
.row--2 {
  .elm {
    &:first-child:before {
      @include line(1, var(--h1));
    }
    &:last-child:before {
      @include line(2, var(--h1));
    }
  }
}

.row--3,
.row--5,
.row--7 {
  .elm {
    &:before {
      @include line(normalGlow, var(--nh));
    }
  }
}

.row--4 {
  .elm {
    @for $i from 13 through 18 {
      &:nth-child(#{$i}):before {
        @include line(4, var(--h2));
      }
    }

    &:first-child:before,
    &:nth-child(2):before {
      @include line(3, var(--h2));
    }
  }
}

.row--6 {
  .elm {
    @for $i from 18 through 32 {
      &:nth-child(#{$i}):before {
        @include line(6, var(--h3));
      }
    }

    &:first-child:before,
    &:nth-child(2):before,
    &:nth-child(3):before {
      @include line(5, var(--h3));
    }
  }
}

// error page
.errorT {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;

  &__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &__emoji {
    font-size: 3.75rem;
    margin-left: 1rem;
  }
  &__msg {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 50rem;
    margin: 0 auto;
  }
}

// LOGO
.logo-box {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 200;
  justify-content: space-evenly;
  flex: 0 0 24rem;
  @media only screen and (max-width: $bp-last) {
    flex: 0 0 16rem;
  }
}

$color-primary: #ff5050;
$color-secondary: #d41616;
.logo {
  height: 7rem;
  @media only screen and (max-width: $bp-last) {
    height: 4rem;
  }
}

.logo-text {
  background-image: linear-gradient(to right, $color-primary 30%, #aec74193);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// HEADINGS
.h1 {
  align-self: end;
  color: rgb(255, 254, 254);
  font-weight: 300;
  font-size: 3.7rem;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;

  &--p {
    color: $color-bl;
    font-weight: 100;

    text-align: center;
    font-size: 3rem;
  }
}

.h2 {
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  font-size: 2.8rem;
  color: #ffffff;

  &--black {
    margin-top: 1rem;
    text-align: center;
    color: #000000;
  }
}

// BUTTON
.btn {
  &,
  &:visited,
  &:link {
    background-color: $color-primary;
    text-decoration: none;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    color: white;
    font-size: 1.5rem;
  }

  &--i {
    flex-direction: reverse;
  }

  &--ba {
    position: relative;

    &:before {
      border-radius: 5px;
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      height: 100%;
      width: 10%;
      z-index: -1;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover:before {
      transform: scaleY(1);
      width: 100%;
      background-color: $color-secondary;
    }
  }

  &--form {
    justify-self: end;
  }

  &--sa {
    transition: all 0.2s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.19rem 0.1rem 0.04rem rgba(0, 0, 0, 0.2);
    }

    &:focus,
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.19rem 0.1rem rgba(0, 0, 0, 0.2);
    }
  }

  &--sort {
    opacity: 0;
    grid-row: 4 /5;
    justify-self: end;
    padding: 0.2rem;
    margin-bottom: 2rem;
    margin-right: 14vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: all 0.2s;

    &--sh {
      opacity: 1;
    }

    &:hover {
      filter: brightness(90%);
    }
  }
}

.fform {
  // TODO
  flex: 1;
  margin-left: 2rem;

  @media only screen and (max-width: $bp-s) {
    order: 1;
    flex: 0;
  }

  &__group {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__container {
    margin-top: 3rem;
    padding: 0 2rem;
    display: grid;
    justify-items: center;
    row-gap: 2rem;
  }

  &__default {
    position: relative;
    border: 1px solid #00000073;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    width: 24rem;
    transition: all 0.1s;
    display: flex;
    justify-content: space-between;

    &-icon {
      fill: #0000009a;
      width: 2rem;
      height: 2rem;
    }

    &:hover {
      border: 1px solid #000000c5;
      background-color: #ffffffe1;
    }

    &--b {
      border: none;

      &:hover {
        border: none;
      }
    }

    &-options {
      background-color: rgb(252, 252, 252);
      position: absolute;
      border: 1px solid darken(rgb(252, 252, 252), 10%);
      width: 100%;
      top: -4rem;
      left: 0;
      box-shadow: 0 0.1rem 0.5rem 0.2rem rgba(172, 168, 168, 0.2);
      padding: 0.5rem 0;
      opacity: 0;
      transform: scaleY(0);
      transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);

      &--v {
        transform: scaleY(1);
        opacity: 1;
        z-index: 1000;
      }

      &Opt {
        padding: 0.4rem 1rem;
        cursor: default;

        &:hover {
          background-image: linear-gradient(
            to right,
            rgba(219, 219, 219, 0.625),
            rgba(230, 218, 218, 0.452)
          );
        }

        &--c {
          color: #ffffff;
          background-color: rgb(10, 99, 151);
          transition: all 0.1s;

          &:hover {
            background-image: none;
            background-color: rgb(21, 128, 190);
          }
        }
      }
    }
  }

  &__label {
    font-size: 1.8rem;
    margin-right: 2rem;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border: none;
    background-color: rgb(202, 209, 212, 0.2);
    padding: 0.5rem 1.5rem;
    border-radius: 100px;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.567);
    transition: width 0.2s, border 0.1s;

    @media only screen and (max-width: $bp-last) {
      width: 15rem;
    }

    &:focus {
      width: 26rem;

      @media only screen and (max-width: $bp-last) {
        width: 16rem;
      }

      outline: none;
      border: 1px solid #ff50509f;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.467);
    }
    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.467);
    }
  }

  &__icon {
    width: 2.1rem;
    height: 2.1rem;
    margin-left: -2.5rem;
    opacity: 0.4;
    cursor: pointer;
    z-index: 99999999999999999999999999;
    margin-right: auto;
  }
}

// nav
.nav {
  position: relative;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.02rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  @media only screen and (max-width: $bp-s) {
    padding-bottom: 2rem;
  }

  @media only screen and (max-width: $bp-last) {
    justify-content: center;
    padding: 0.5rem 0.1rem;
    padding-bottom: 2rem;
  }

  &__item {
    margin-left: 2rem;

    &-c {
      @media only screen and (max-width: $bp-s) {
        margin-left: auto;
      }

      &:hover {
        border-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    &-menu {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 180%;
      transform: translateY(103%) scaleY(0);
      padding-top: 3rem;
      padding-bottom: 1rem;
      color: transparent;

      clip-path: polygon(0 20%, 5% 0%, 10% 20%, 100% 20%, 100% 100%, 0 100%);
      transition: all 0.1s;
    }

    &-ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-button {
      font-size: 1.5rem;
      background-image: linear-gradient(130deg, transparent 50%, #d41616 50%);
      background-size: 220%;
      transition: all 0.3s;
      padding: 0.1rem 0.4rem;

      &:hover {
        background-position: right;
      }
    }

    &--v &-menu {
      width: 180%;
      transform: translateY(103%) scaleY(1);
      background-color: #ff5050;
      color: #f7f7f7f7;
    }

    &-icon {
      width: 1.9rem;
      height: 1.9rem;
      fill: white;
      margin-right: 0.3rem;
    }
  }
}
