@use "sass:math";
@use "sass:list";

@function calcRo($width, $h1, $h2) {
  $rot: 90deg - math.atan(($h1 + $h2) / ($width * 3))
    math.atan(($h1 + $h2) / ($width * 3))-90deg 90deg -
    math.atan(($h1 + $h2) / ($width * 5)) math.atan(($h1 + $h2) / ($width * 5))-90deg
    90deg - math.atan(($h1 + $h2) / ($width * 7))
    math.atan(($h1 + $h2) / ($width * 7))-90deg;

  $heights: math.sqrt(($width * 3) * ($width * 3)+ ($h1 + $h2) * ($h1 + $h2)) +
    0.5 math.sqrt(($width * 5) * ($width * 5)+ ($h1 + $h2) * ($h1 + $h2)) + 0.5
    math.sqrt(($width * 7) * ($width * 7)+ ($h1 + $h2) * ($h1 + $h2)) + 6;
  @return $rot $heights;
}

// first
// height / width * 3;

// second
// height / width * 5;

// third
// height / width * 7;

@mixin line($a, $h) {
  animation: var(--glow#{$a}) 0.8s 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
  content: " ";
  position: absolute;
  top: 0;
  transform-origin: bottom;
  width: 1px;
  height: $h;
  background-color: var(--theme-linecolor);
  transform: translate(-50%, -100%) scaleY(0);
  z-index: -1;
}
