// colors
$nonMetal: #00f037;
$alkaliMetal: #fc3385;
$alkaliEarthMetal: #f77;
$lanthanoid: #ffd04c;
$actinoid: #8ef076;
$metalloid: #339b8b;
$metal: #f7f7f7;
$transitionMetal: #47c2e7;
$nobleGas: #df34f0;
$halogen: #9b5af3;
$post-TransitionMetal: #cdb1a1;
$postTransitionMetal: #cdb1a1;

$elements: (
  "nonmetal": $nonMetal,
  "alkaliMetal": $alkaliMetal,
  "alkalineEarthMetal": $alkaliEarthMetal,
  "metal": $nonMetal,
  "actinoid": $actinoid,
  "metalloid": $metalloid,
  "lanthanoid": $lanthanoid,
  "transitionMetal": $transitionMetal,
  "nobleGas": $nobleGas,
  "post-TransitionMetal": $post-TransitionMetal,
  "postTransitionMetal": $post-TransitionMetal,
  "halogen": $halogen,
);

$bp-1: 76.25em;
$bp-2: 70.125em;
$bp-3: 63.68em;
$bp-4: 55.6em;
$bp-5: 49.625em;
$bp-6: 42.875em;
$bp-7: 37em;
$bp-s: 46.25em;
$bp-last: 23.875em;

$bp-c1: 45.125em;
$bp-c2: 32.5em;

$lineColor: #191919;
$color-bl: #191919;
