// colors
$brand-primary: hsl(0, 100%, 66%);
$brand-secondary: hsl(180, 52%, 39%);

$elementsHov: hsl(134, 100%, 47%), hsl(336, 97%, 59%), hsl(0, 100%, 73%),
  hsl(200, 20%, 50%), #8ef076, #339b8b, #ffd04c, #47c2e7, #df34f0, #cdb1a1,
  #cdb1a1, #9b5af3;

$elements: (
  "nonmetal": var(--nonmetal),
  "alkaliMetal": var(--alkaliMetal),
  "alkalineEarthMetal": var(--alkaliEarthMetal),
  "metal": var(--metal),
  "actinoid": var(--actinoid),
  "metalloid": var(--metalloid),
  "lanthanoid": var(--lanthanoid),
  "transitionMetal": var(--transitionMetal),
  "nobleGas": var(--nobleGas),
  "post-TransitionMetal": var(--post-TransitionMetal),
  "postTransitionMetal": var(--post-TransitionMetal),
  "halogen": var(--halogen),
);

$bp-1: 76.25em;
$bp-2: 70.125em;
$bp-3: 63.68em;
$bp-4: 55.6em;
$bp-5: 49.625em;
$bp-6: 42.875em;
$bp-7: 37em;
$bp-s: 45.1875em;
$bp-last: 23.875em;

$bp-c1: 45.125em;
$bp-c2: 32.5em;

$color-bl: #191919;
