html(lang='el')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge") 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Periodic table
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;1,300&family=Kalam:wght@300;400;700&family=Kirang+Haerang&family=Oxygen:wght@300;400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet")  
    link( rel="stylesheet" href="css/style.css")
    link(rel='shortcut icon' type='image/png' href='/img/fav.png')
  
  block content
  
              
